
/* Special styles for Mobile controls */
.sapUiFormM .sapUiRespGrid.sapUiRespGridVSpace0 > div {
    padding-bottom: .28rem;
}


.rrNextButton {
    position: absolute;
    padding-right: 0;
    right: 46px;
    height: 40px;
    font-weight: normal !important;
    vertical-align: middle;
    padding: 0 20px;
    font-size: 1rem;
    margin-right: 20px;
}

.formDetailColor {
    background-color: #E6F2F9;
}

.sapMLIB.sapMLIBSelected,
.sapMLIB.sapMLIBSelected > td {
    background: #0F92CE;
}

.hdrButton {
    background-color: transparent;
    font-weight: bold;
    font-size: 12px;
    vertical-align: bottom;
    display: block;
    border: none;
    height: 50px;
    outline: none;
    cursor: pointer;
}


.rrFormLabel {
    padding-top: .875rem;
    font-size: .875rem;
}

.sapUiBtnS.sapUiBtnNorm.navButton {
    background-color: #009de0;
    border-color: #008bc7;
    font-weight: inherit;
}

.sapUiBtnS.sapUiBtnNorm.navButton:focus,
.sapUiBtnS.sapUiBtnNorm.navButton:hover {
    background-color: #0079ad;
    border-color: #0079ad
}

.statusIcon {
    background: #FFCB00;
    font-size: 1.75rem;
    color: #FFFFFF;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    -moz-border-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-sizing: border-box;
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    overflow: hidden;
    width: 2rem;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none
}

.stepsTblCell > .sapMListTblCell {
    height: 2rem;
}

.sapUiForm .sapUiFormTitle {
    border-width: 0.0625rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #333333;
}

.sapMListTblCell > .stepsText {
    padding-top: .5rem;
    font-size: 1rem;
    color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: inherit;
}

.sapMListTblCell > .sapMListTbl .sapMText .stepsText {
    padding-top: .5rem;
    font-size: 1rem;
    color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: inherit;
}

.sapMLIBUnread .stepsText {
    opacity: .5;
    font-weight: normal;
}

.rrSegmentError {
    padding: 0 0;
    border: 2px solid #e52929;
}

.acRowRepeater >.sapUiRrFtr {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 0px;
}
